<main>
  <section class="user-summary">
    <h2>User Summary: <%= link_to @user.name, user_path(@user.id) %></h2>
    <p>Joined site <%= @user.created_at.strftime("%b %d, %Y") %></p>
  </section>
  <br>
  <section class="user-vote-list">
    <h3 class="user-votes__header">Votes</h3>
    <table class="table">
      <tr>
        <th scope="col">Media Title</th>
        <th scope="col">Created By</th>
        <th scope="col">Published</th>
        <th scope="col">Category</th>
        <th scope="col">Voted On</th>
      </tr>
      <% @user.votes.each do |vote| %>
        <tr>
          <td><%= link_to vote.work.title, work_path(vote.work.id) %></td>
          <td><%= vote.work.creator %></td>
          <td><%= vote.work.publication_year.year %></td>
          <td><%= vote.work.category %></td>
          <td><%= vote.submit_date ? vote.submit_date.strftime("%b %d, %Y") : nil %></td>
        </tr>
      <% end %>
    </table>
  </section>
  <section class="user-buttons">
    <%= button_to "See all Users", users_path, method: :get, class: "btn btn-secondary" %>
    <%= button_to "Back to Media List", root_path, method: :get, class: "btn btn-primary" %>
  </section>
</main>
